:root{
    font-size: 18px;
}

.header{
    display: flex;
    justify-content: flex-end;
    padding: 15px 0;
  }
  .navigation{
    border:2px solid #000;
  }
  .menu{
    display:flex;
    justify-content: space-around;
  }
 
  .menu a{
    border:2px solid #000;
    border-left:none;
    border-bottom:none;
    flex:1;
    text-align: center;
    text-decoration: none;
    color:inherit;
  }

  .menu a:visited 
  {
      color: black;
  }
.sprite{
    width:500px;
    height:200px;
    background-image:url(https://raw.githubusercontent.com/apietryga/kurs-Front-end/master/materialy/lekcja2/cw1/logo_sprites.jpg);
  }


.chartX,.chartY{
    border:5px solid black;
    display:flex;
    justify-content: space-around;
    margin: 1rem;
  }
  .chartX div{
    border:2px solid #000;
    min-width: 10%;
  }
  .chartX div:nth-child(1){height:10rem;
background-color: #E0322B;}
  .chartX div:nth-child(2){height:8rem;
background-color: #56F066;}
  .chartX div:nth-child(3){height:6rem;
background-color: #6D5FFA;}
  .chartX div:nth-child(4){height:4rem;
background-color: #F7C523;}
  .chartX div:nth-child(5){height:2rem;
background-color: #E06E29;}
  
  .chartY{
    flex-direction: column;
    min-height:70vh;
  }
  .chartY div{
    border:2px solid #000;
    min-height: 10vh;
  }
  .chartY div:nth-child(1){width:5rem;
    background-color: #E06E29;}
  .chartY div:nth-child(2){width:7rem;
    background-color: #F7C523;}
  .chartY div:nth-child(3){width:9rem;
    background-color: #6D5FFA;}
  .chartY div:nth-child(4){width:11rem;
    background-color: #56F066;}
  .chartY div:nth-child(5){width:12rem;
    background-color: #E0322B;}
  

   .text{
       margin-top: 2rem;
       float: right;
   }

    .em{
        font-size:2em;
        color: red;
        float: right;
    }

   

    html, body {
        scroll-behavior: smooth;
    }
    
    
   

