* {
  margin: 0 auto;
}

body {
  max-width: 1000px;
  margin-top: 2em;
  margin-bottom: 2em;
}

body content h1, body content h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  color: #18223e;
}

body content h1 {
  font-size: 40px;
}

body content p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

body content span {
  font-family: Segoe Script;
}

body content .block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body content .block1 .polaroid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

body content .block1 .polaroid .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body content .block1 .polaroid .images .firstImage, body content .block1 .polaroid .images .secondImage {
  max-height: 200px;
}

body content .block1 .polaroid .images .firstImage img, body content .block1 .polaroid .images .secondImage img {
  max-width: 200px;
}

body content .block1 .polaroid .images .firstImage {
  background-image: url(images/firstPolaroid.webp);
  background-size: cover;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

body content .block1 .polaroid .images .secondImage {
  background-image: url(images/secondPolaroid.webp);
  background-size: cover;
  -webkit-transform: rotate(15deg) translate(-50px, 90px) scale(0.9);
          transform: rotate(15deg) translate(-50px, 90px) scale(0.9);
}

body content .block1 .description {
  width: 61.5%;
  padding: 2em;
}

body content .block2 {
  -webkit-transform: translate(0, -5em);
          transform: translate(0, -5em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body content .block2 .text {
  width: 36%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body content .block2 .character {
  width: 64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body content .block2 .character .wrapper {
  padding: 10em 0 2em 0;
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "b1 b2 b4" "b3 b2 b5";
  gap: 10px;
}

body content .block2 .character .wrapper span .text1, body content .block2 .character .wrapper span .text2 {
  text-align: right;
}

body content .block2 .character .wrapper span .text1 {
  -webkit-transform: translate(43px, 30px);
          transform: translate(43px, 30px);
}

body content .block2 .character .wrapper span .text2 {
  -webkit-transform: translate(-25px, 10px);
          transform: translate(-25px, 10px);
}

body content .block2 .character .wrapper span .text4 {
  -webkit-transform: translate(35px, -20px);
          transform: translate(35px, -20px);
}

body content .block2 .character .wrapper span .circle {
  background-color: #e0dcce;
  width: 310px;
  height: 310px;
  border-radius: 100%;
}

body content .block2 .character .wrapper span .circle img {
  height: 25em;
  -webkit-transform: translate(80%, -13.5%);
          transform: translate(80%, -13.5%);
}

body content .block2 .character .wrapper span:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: b1;
}

body content .block2 .character .wrapper span:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: b2;
}

body content .block2 .character .wrapper span:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b3;
}

body content .block2 .character .wrapper span:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b4;
}

body content .block2 .character .wrapper span:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: b5;
}

body content .block3 {
  text-align: center;
}

body content .block3 .inner_block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body content .block3 .inner_block3 .product {
  max-width: 260px;
  min-height: 300px;
  background-color: #e0dcce;
  border-radius: 0.7em;
}

body content .block3 .inner_block3 .product img {
  max-height: 12em;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

body content .block3 .inner_block3 .product h3 {
  padding: 0 2em 0 2em;
}

body content .banner {
  background: url(images/background.png) no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: block;
}

@media (max-width: 420px) {
  body {
    width: 320px;
  }
  body content .block1 {
    text-align: center;
    padding: 0 0 2em 0;
    -webkit-transform: translate(-40px, 0);
            transform: translate(-40px, 0);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "b" "a";
    gap: 0;
  }
  body content .block1 .polaroid {
    width: 100% !important;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: a;
    -webkit-transform: translate(12%, 0);
            transform: translate(12%, 0);
  }
  body content .block1 .polaroid .images .firstImage, body content .block1 .polaroid .images .secondImage {
    max-height: 160px;
  }
  body content .block1 .polaroid .images .firstImage img, body content .block1 .polaroid .images .secondImage img {
    max-width: 160px;
  }
  body content .block1 .polaroid .images .firstImage {
    -webkit-transform: rotate(-15deg) translate(40px, 0);
            transform: rotate(-15deg) translate(40px, 0);
  }
  body content .block1 .polaroid .images .secondImage {
    -webkit-transform: rotate(15deg) translate(-10px, 90px) scale(0.9);
            transform: rotate(15deg) translate(-10px, 90px) scale(0.9);
  }
  body content .block1 .description {
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: b;
    margin-bottom: 1em;
  }
  body content .block2 {
    margin-top: 1em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body content .block2 .text {
    width: 100%;
  }
  body content .block2 .text h1 {
    text-align: center;
  }
  body content .block2 .character {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  body content .block2 .character .wrapper {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    max-width: 320px;
    gap: 5px;
  }
  body content .block2 .character .wrapper span {
    font-size: 12px;
    width: 100px;
  }
  body content .block2 .character .wrapper span .text1, body content .block2 .character .wrapper span .text2 {
    text-align: right;
  }
  body content .block2 .character .wrapper span .text1 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  body content .block2 .character .wrapper span .text2 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  body content .block2 .character .wrapper span .text3, body content .block2 .character .wrapper span .text4 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  body content .block2 .character .wrapper span .circle {
    width: 250px !important;
    height: 250px !important;
    -webkit-transform: translate(-28%, 0);
            transform: translate(-28%, 0);
  }
  body content .block2 .character .wrapper span .circle img {
    -webkit-transform: translate(88%, -13.5%) !important;
            transform: translate(88%, -13.5%) !important;
  }
  body content .block3 .inner_block3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body content .block3 .inner_block3 .product {
    margin-bottom: 2em;
  }
}
/*# sourceMappingURL=style.css.map */