*{
    margin: 0 auto;
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
}

header{
    color: white;
    width: 100%;
    padding: 1vw;
    background-color: black;
}

nav h1{
    justify-content: flex-start;
    width: 50%;
    display: inline;
    align-items: flex-start;
}

nav span{
    display: inline;
    right: 1vw !important;
    
}

nav a{
    
    padding: 1vw;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
}