
.icon-location:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
