*{
    margin: 0 auto;
    font-family: 'M PLUS 2', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.title{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #779E98;
}

.title h1{
    padding-top: 25px;
}

.subtitle{
    width: 100%;
    height: 300px;
    display: block;
    background-color: #475E5B;
    padding-top: 55px;
}

.subtitle img{
    margin: 10px;
}

.content{
    background-color: #377a6b;
    width: 100%;
    height: 450px;
}

.inner_content{
    width: 900px;
    display:flex;
	justify-content: center;
    padding-top: 50px;
}

.content_gif{
    float: left;
    width: 50%;
}

.content_text{
    padding-top: 50px;
    float: left;
    width: 50%;
}

.footer{
    width: 100%;
    background-color: #1a3b33;
    height: 100px;
    padding-top: 60px;
    bottom: 0;
    text-align: right;
   
}

.footer span{
    padding-right: 20px;
}

