*{
    margin: 0 auto;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    color: white;
}

.title{
    width: 100%;
    height: auto;
    display: block;
    background-color: #382A21;
}



.title h1{
    padding: 1em 0 0 0;
}



.subtitle{
    width: 100%;
    height: auto;
    display: block;
    background-color: #614B3A;
    padding: 2em 0 2em 0;
}

.subtitle img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.content{
    background-color: white;
   width: 100%;
    height: auto;
}

.inner_content{
    width: auto;
    display:flex;
	justify-content: center;
    width: 90%;
    padding: 2em 0 2em 0;
}

.content_gif{
    width: 50%;
    
}

.content_text{
    min-height: 27em;
    width: 50%;
    margin: -3em 3em -10em 3em;
    padding: 2em;
    background-color: #C79A77;
}

.content_text p{
    padding: 2em;
}

.content_text i{
    color: #7D685E;
}

.content_text span{
    padding: 0 2em 0 2em;
}

.footer{
    width: 100%;
    min-height: 5em;
    background-color: #382A21;
    padding-top: 9em;
    bottom: 0;
    text-align: right;
   
}

.footer span{
    padding-right: 2em;

}

@media(max-width: 600px){
    .content_gif{
        display: none;
    }

    .content_text{
        width: auto;
    }
}
