*{
  font-family: 'Rajdhani', sans-serif;
  margin: 0 auto;
}

header{
  display: flex;
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  padding: 2vh;
  z-index: 2;
}


a{
  text-decoration: none;
  color:#000;
  border:2px solid #000;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  min-width: 50vh;
  border-radius: 5px;
  transition: transform 1s, background-color 1s, color 1s;
}

a:hover{
  transform: scale(1.04);
  background-color: #004f47;
  color: white;
}


a i{
  font-size:3em;
}

.wrapper{
  padding: 8vw 10vw;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "b1 b2 b3"
    "b5 b4 b3"
  ;
  gap: 15px;
}
.wrapper a:nth-child(1){grid-area:b1;}
.wrapper a:nth-child(2){grid-area:b2;}
.wrapper a:nth-child(3){grid-area:b3;}
.wrapper a:nth-child(4){grid-area:b4;}
.wrapper a:nth-child(5){grid-area:b5;}

@media (max-width:720px){
  .wrapper{
    grid-template-areas: 
    "b1"
    "b2" 
    "b3" 
    "b4" 
    "b5"
    ;
    grid-template-columns: 1fr ;
    margin-bottom: 10vh;
  }

  a{
    min-width: 80%;
  }



}

footer{
  padding: 2vh 0 2vh 0;
  color: white;
  background-color: black;
  position: fixed;
  bottom: 0 !important;
  text-align: right;
  width: 100%;
}


